/* FONTS */
@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins-Regular";
}
.splash-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: "Poppins-Bold";
}
.nav{
    display: flex;
    justify-content: right;
    padding: 0.75rem;
    user-select: none;
    
}
.nav-item{
    font-family: "Poppins-Bold";
    padding: 0.25rem;
    border: 1px solid transparent;
    font-size: 2rem;
}

.clickable-nav-item{
    cursor: pointer;
}

.clickable-nav-item:hover{
    border-radius: 5px;
    background-color: #D9D9D9;

}
.centered-logo{
    display: flex;
    padding-top: 5rem;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.begin-btn{
    font-family: "Poppins-Bold";
    border-radius: 5px;
    border: 0px;
    padding: 0.5rem 2rem;
    background-color: #A9CAB0;
    margin-top: 2.5rem;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #00000040;
    font-size:1.5rem;
}

.begin-btn:hover{
    background-color: #9dbaa4;
}
 
.slogan{
    user-select: none;
    font-size: 2.5rem;
  }

.signup-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-field{
    display: flex;
    flex-direction: column;
    align-items: column;
    width: 50%;
}
.signup-input-field{
    display: flex;
    flex-direction: column;
    font-family: "Poppins-Bold";
    margin: 1rem;
}
.signup-btn{
    font-family: "Poppins-Bold";
    border-radius: 5px;
    border: 0px;
    padding: 0.25rem 1rem;
    background-color: #A9CAB0;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #00000040;
    font-size:1.5rem;
}
.signup-btn:hover{
    background-color: #9dbaa4;
}

.stride-logo-template{
    margin-top: 2rem;
    max-width: 80%;
    height: 10rem;
    width: 30rem;
}
.input-section{
    padding: 1rem 0.5rem;
    border: solid;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}
input{
    border: none;
}
.sign-btn-format{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.stride-logo{
    max-width: 80%;
    height: 7.20rem;
    width: 21.6rem;
    margin-top: 2rem;
}
.stride-logo-goal{
    max-width: 80%;
    height: 12rem;
    width: 36rem;
    margin-top: 2rem;
}
a{
    color: black;
}
.need-help{
    text-align: right;
}
.goal-section{
    padding: 1rem 0.5rem;
    border: solid;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    height: 35vh; 
}
.dashboard{
    background-color: #fbfffc;
    display: flex;
    height: 100vh;
}
.left-panel{
    padding: 1rem;
    background-color: white;
    border-right: solid;
    border-color: #D9D9D9;
}

.stride-corner{
    height: 5rem;
    width: 15rem;

}
.left-panel-top{
    display: flex;
    align-items: center;
    flex-direction: column;

    flex: 1;
    
}
.left-panel-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    margin-top: auto;

    flex: 1;
}

.bottom{
    margin-top: auto;
}
.top{
    margin-bottom: auto;
}
.dashboard-btn{
    font-family: "Poppins-Bold";
    border-radius: 15px;
    border: 0px;
    padding: 0.25rem 1rem;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #00000040;
    font-size:1.5rem;
    margin: 0.75rem;
    width: 80%;

    display: flex;
    flex-direction: left;
    justify-content: left;
    align-items: center;
}

.active-btn{
    background-color: #A9CAB0
}
.inactive-btn{
    background-color: #f6f8fa;
}
.inactive-btn:hover{
    background-color: #e6e6e6;
}
.icon{
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 0.25rem;

}
.label-btn{
    padding-left: 1rem;
}
.panel-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.login-btn{
    font-family: "Poppins-Bold";
    border-radius: 5px;
    border: 0px;
    padding: 0.5rem 2rem;
    background-color: #A9CAB0;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #00000040;
    font-size:1.5rem;
}

.right-panel{
    flex-grow: 3;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel-top{
    width: 100%;
    height: 50vh;
    display: flex;
}

.right-panel-top-content{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    background-color: white;
    flex-grow: 1;
    margin: 3rem 3rem 1.5rem 3rem;
    padding: 1rem;
}
.right-panel-top-content-header{
    display: flex;
    justify-content: space-between;
}
.right-panel-bottom{
    width: 100%;
    height: 50vh;
    display: flex;
}
.right-panel-bottom-box{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    background-color: white;
    flex-grow: 1;
    padding: 1rem;
}
.right-panel-bottom-box-left{
    margin: 1.5rem 1.5rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    
}
.right-panel-bottom-box-right{
    margin: 1.5rem 3rem 3rem 1.5rem;

}
ul {
    list-style-type: none;
    padding: 1rem;
}
li{
    padding: 0.5rem 0rem;
    display: flex;
    align-items: row;
}
.check-box{
    accent-color: #A9CAB0; 
}

.check-box-desc{
    padding-left: 1rem;
}
.progress-header{
    flex-grow: 1;
}
.progress-pie-container{
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-pie{
    padding: 6rem;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}

.right-panel-progress{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-panel-progress-top{
    flex-grow: 1.5;
    display: flex;
}

.right-panel-progress-bottom{
    flex-grow: 1;
    display: flex;
}

.right-panel-progress-top-content{
    margin: 3rem 3rem 1.5rem 3rem;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}
.right-panel-progress-top-content-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-grow: 1;
    gap: 2rem;
    padding: 2rem;
}

.progress-grid-item{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}

.right-panel-progress-bottom-content{
    margin: 1.5rem 3rem 3rem 3rem;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    flex-grow: 1;
    background-color: white;
}

.right-panel-progress-top-content-header{
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
}
.progress-label-btn{
    padding-left: 0.5rem;
}
.handle-icon{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
}
.label-font{
    font-size: 1.5rem;
}

.right-panel-habits{
    display: flex;
    width: 100%;
    
}
.habits-container{
    flex-grow: 1;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 3rem;
    background-color: white;
}
.habits-container-section{
    padding: 1rem;
}

.habits-item{
    border: solid;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

.habits-label{
    font-family: "Poppins-Bold";
}

.x{
    user-select: none;
    cursor: pointer;
    color: #7a7a7a;
}
.x:hover{
    color: black;
}